FLASK_ENV=development
SECRET_KEY=
JWT_SECRET_KEY=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=nav_site
REDIS_URL=redis://localhost:6379/0
MEILI_HOST=http://127.0.0.1:7700
MEILI_MASTER_KEY=
MAIL_SERVER=smtp.qq.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
AUTHING_APP_ID=
AUTHING_APP_SECRET=
AUTHING_APP_HOST=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
